.container {
  height: 100vh;
  padding-top: 100px;
}

.input {
  padding: 10px;
  background-color: transparent;
  width: 200px;
  height: 200px;
  border: 5px solid black;
  font-size: 60px;
  outline: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;

  font-weight: 700;
}
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn_action {
  padding: 20px 40px;
  margin: 10px;
}
